html,body, div, h1, h2, h3, h4, h5, p, span, article, img{
  padding: 0; margin: 0;
}

body{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #522583;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

.container{
  background-image: linear-gradient(to left top, #1d2242, #242554, #2f2865, #3f2875, #522583);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container .entete{
  width: 100%;
  height: 10%;
  font-weight: 200;
  font-size: 2.5em;
}

.container .entete .nompre{
  color: #ffffff;
  display: block;
  margin: 24px 0 0 24px;
  text-decoration: none;
  animation: prenom 2s ease 1;
}

@keyframes prenom{
  0%{
  opacity: 0;
  }
  100%{ 
   opacity: 1;
  }
}

.titles{
  width: 100%;
  height: 100%;
  position: absolute;
}
.titles h1, h2, h3, h4{
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
}

.titles .title4{
  font-weight: 200;
  letter-spacing: 3px;
  position: relative;
  top: 30vh;
  animation: title4 3.5s ease-out;
  opacity: 0;
}

@keyframes title4{
  0%{
  transform: translateY(-350px);
  opacity:1;
  }
  85%{
    opacity:1;
  }
  100%{ 
    transform: translateY(0)};
}

.titles .title3{
  font-weight: 400;
  letter-spacing: 10px;
  position: absolute;
  left: 39.6%;
  top: 37vh;
  animation: title3 3.5s ease-out;
  opacity: 0;
}

@keyframes title3{
  0%{
  transform: translateX(-200%);
  opacity:1;
  }
  85%{
    opacity:1;
  }
  100%{ 
    transform: translateX(0)};
}

.titles .title2{
  font-weight: 600;
  letter-spacing: 5px;
  position: absolute;
  right: 39%;
  top: 45vh;
  animation: title2 3.5s ease-out;
  opacity: 0;
}

@keyframes title2{
  0%{
  transform: translateX(120%);
  opacity:1;
  }
  85%{
    opacity:1;
  }
  100%{ 
    transform: translateX(0)};
}

.titles .title1{
  font-weight: 800;
  letter-spacing: 2.5px;
  position: absolute;
  bottom: 0;
  left: 40%;
  animation: title1 3.5s ease-out;
  opacity: 0;
}

@keyframes title1{
  0%{
  transform: translateY(0);
  opacity:1;
}
  85%{
    opacity:1;
    transform: translateY(-40vh);
  }

100%{ 
  transform: translateY(-40vh);
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container .entete .nompre{
    font-size: 24px;
    text-align: center;
    margin-left: 0;
  }

  .titles{
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .titles h1, h2, h3, h4{
    font-size: 18px;
  }

  .titles .title3{
    left: 27%;
    letter-spacing: 8px;
  }

  .titles .title2{
    letter-spacing: 4.6px;
    right: 23%;
  }
  .titles .title1{
    letter-spacing: 3px;
    left: 26%;

  }

}

@media screen and (min-width: 601px) and (max-width: 1200px){
  .container .entete .nompre{
    font-size: 24px;
  }
  
  .titles h1, h2, h3, h4{
    font-size: 1em;
    line-height: 40px;
  }

  .titles .title3{
    left: 38%;
    top: 39vh;
    letter-spacing: 8px;
  }

  .titles .title2{
    letter-spacing: 5px;
    right: 36%;
    top: 49vh;
  }
 
  .titles .title1{
    letter-spacing: 4px;
    top:58%;
    left: 38%;
  }
}
 